---
import MainLayout from "../layout/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";

---

<MainLayout title="Scoreboard | Astro Application">
	<div class="main"><Header /></div>
	<main class="md:mb-0">
		<!-- IFrame would need to be placed in a container -->
		 <!-- Once everything is in order, data is pushed to the database. -->
		<iframe src="https://ca.global.nba.com/articles/licensee_widget_scoreboard_sib3_v2.html" name="nba-scoreboard-widget" title="Scoreboard Widget" class="w-full mt-1" scrolling="no"></iframe>

		<h2 class="font-semibold pt-4 text-xl border-b">Live Games</h2>
		<section class="grid md:grid-rows-2 md:grid-cols-2 lg:grid-cols-4 grid-cols-1">
			<Card />
			<Card />
			<Card />
			<Card />
			<Card />
		</section>
	</main>
	<section class="px-5 mb-20 md:mb-0">
		<h2 class="mt-2 font-semibold pt-4 text-xl border-b">News</h2>
	</section>
</MainLayout>

<style>
	div.main {
		padding: 0 0 80px;
		display: flex;
		width: 100%;
		background-color: #ffffff;
	}

	@media (max-width: 576px) {
		div.main {
			padding: 0 0 60px;
		}
	}
</style>