---
import MainLayout from "../layout/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";

---

<MainLayout title="Scoreboard | Astro Application">
	<Header />
	<main class="px-5 md:mb-0">
		<h2 class="mt-2 font-semibold pt-4 text-xl border-b">Live Games</h2>
		<section class="grid md:grid-rows-2 md:grid-cols-2 lg:grid-cols-4 grid-cols-1">
			<Card />
			<Card />
			<Card />
			<Card />
			<Card />
		</section>
	</main>
	<section class="px-5 mb-20 md:mb-0">
		<h2 class="mt-2 font-semibold pt-4 text-xl border-b">News</h2>
	</section>
</MainLayout>