---

---

<header class="block px-5 py-3 border-b md:flex md:flex-row md:justify-between lg:flex lg:flex-row">
    <div class="flex">
        <h1 class="logo mt-5 font-bold text-3xl">Score<i>Tracker</i> <span>Homepage</span></h1>
    </div>
    <nav class="hidden md:flex md:flex-row md:mt-5">
        <ul class="flex flex-row px-5">
            <li class="rounded py-2  list-none mx-1 text-decoration-none block hover:text-violet-700"><button type="button" onclick="window.location.href = '/'" class="text-sky-500 hover:text-white border border-sky-500 hover:bg-sky-500 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Home</button></li>
            <li class="rounded py-2  list-none mx-1 text-decoration-none block hover:text-violet-700"><button type="button" onclick="window.location.href = '/'" class="text-sky-500 hover:text-white border border-sky-500 hover:bg-sky-500 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Live</button></li>
            <li class="rounded py-2 list-none mx-1 text-decoration-none block hover:text-violet-700"><button type="button" onclick="window.location.href = '/'" class="text-sky-500 hover:text-white border border-sky-500 hover:bg-sky-500 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">Discussion</button></li>
            <li class="rounded-md bg-gray-900 px-3 py-2 mt-2 text-sm h-10 list-none font-medium text-white w-24 md:w-24"><a href="#">New Game</a></li>
        </ul>
    </nav>
</header>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Dr+Sugiyama&display=swap');
    h1.logo {font-size: xx-large; font-weight: 500;}
    h1.logo::first-letter {
        font-weight: 900;
        border-bottom: .20em solid #f7aa02;
    }
    h1.logo > span {
        font-weight: lighter;
        font-style: italic;
        font-family: "Dr Sugiyama", cursive;
    }
    h1.logo > i {
        font-weight: 100;
        font-style: normal;
    }
</style>